@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <link rel="stylesheet">

         <div id="container"></div>
        <div id="Logo">
        <img src="~/Imagens/telacidade verde.png" alt="">
        <h1>Acesse sua conta</h1>
        
        <div class="email-box">
        <input id="email" type="text" name="firstname" placeholder="Email" required: "insira um email valido">
        </div>

        <div class="senha-box">
        <input id="senha" type="password" name="senha" placeholder="Senha" required: "insira uma senha valida">

        <div class="entrar-button">
            <a href=""<button>>Entrar</a></button>
  
        </div>
   </body>
</html>
