@*
   
*@
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>
<body>
    <link rel="stylesheet" href="~/css/site.css">

    <div class="container-home">
        <h1>Bem vindo a Cidade verde</h1>
        <h3>Promoções</h3>
        <div class="imagens">
            <img src="~/imagens/carrot.png"  class="cenoura" alt="cenoura">
            <img src="~/imagens/eggplant.png" class="berinjela" alt="Item 2">
            <img src="~/imagens/shallot.png" class="cebola" alt="Item 3">
        </div>

        <div class="botoes-cima">
            <button class="botao-1">Buy</button>
            <button class="botao2">Buy</button>
            <button class="botao3">Buy</button>
        </div>


        <div class="imagens2">
        <img src="~/imagens/corn.png" class="milho" alt="milho">
        <img src="~/imagens/tomato.png" class="tomate" alt="tomate">
        <img src="~/imagens/cucumber.png" class="pepino" alt="pepino">
        </div>

        <div class="botoes-baixo">
            <button class="botao4">Buy</button>
            <button class="botao5">Buy</button>
            <button class="botao6">Buy</button>
        </div>

    </div>
   </body>
</html>