@*
  
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido Registrado</title>
</head>
<body>
    <link rel="stylesheet" href="~/css/site.css">
    <div id="Logo">
        <img src="./assets/telacidade verde.png" alt="">
        <div class="pedido-registrado">
        <h3>Obrigado por comprar conosco seu pedido foi registrado no sistema!</h3>
        <a href="Privacy"><button>Finalizar!</button></a>
        </div>
</body>
</html>